.moncompte{

    /* justify-content:center ;
    display: flex;
    flex-wrap: wrap; */
    border: 4px solid #64B6AC;
    background-color: #AED8D3;
    box-shadow: inset 0 0 2em #64B6AC;
    border-radius: 1%;
    color: #2C3D55;
    width: 145%;
    height: 60%;
    padding-top: 10%;
    margin-left: 85%; 
}

.nav-link{
    padding-left: 20%;
}