body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 4px solid #7B8CDE;
  background-color: #b9c3ec;
  box-shadow: inset 0 0 2em #7B8CDE;
  border-radius: 1%;
  width: 145%;
  height: 60%;
  margin-left: -20%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #2C3D55;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

ul.topnav li a:hover {background-color: #7B8CDE;}

/* ul.topnav li a.active {background-color: #04AA6D;} */

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

