<div class="header">
    <div class="test">
        <div class="logo">
            <img src="./assets/images/Logo final.png" alt="logo">
        </div>
        <div class="title">
            <h1>Inscris-toi 😉 !!!</h1>
        </div>
    </div>
    <div class="rectangle">
        <div class="titre">
            <h2>Bienvenue sur Les restos des potos</h2>
        </div>
        <div class="texteimage">
            <div class="restaurant-image">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eligendi quibusdam cupiditate
                    suscipit voluptate ducimus quaerat veniam alias fuga ut! Amet ipsa molestias qui enim quae magnam
                    deleniti officiis error?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eligendi quibusdam cupiditate
                    suscipit voluptate ducimus
                    quaerat veniam alias fuga ut! Amet ipsa molestias qui enim quae magnam deleniti officiis error?
                </p>
            </div>

            <img src="./assets/images/Rectangle 53.jpg" alt="photo resto entre amis">
        </div>
    </div>
</div>

