.modal.is-open {
  display: block;
}

.nameResto {
  color: #b97375;
}
.flex-container {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  align-items: center;
}

.icon-container {
  margin-left: 2rem;
  display: flex;
}
.icon-container i {
  margin-left: 1rem;
}

.modal-content{
  width: 40%;
  height: 90%;
  border: 3px solid #b97375;
  }

button{
  margin-top: 2%;
  margin-left: 40%;
}

textarea{
margin-top: 10%;
}

#reviewText {
  border: 2px solid #64B6AC;
  box-shadow: #64B6AC;
  box-shadow: 0 4px 8px 0 rgba(100,182,172);
}

h2{
  margin-bottom: 5%;
}

