<div id="myModal" class="modal" [ngClass]="{ 'is-open': isModalOpen }">
  >
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>
      Créer un avis pour <span class="nameResto">{{ nameResto }}</span>
    </h2>
    <div class="flex-container">
      <app-groupe-list
        [choixgroupe]="true"
        (groupeChanged)="handleGroupeChanged($event)"
      ></app-groupe-list>
      <div class="icon-container">
        <i
          class="fas fa-thumbs-up"
          style="margin-left: 8px"
          [ngClass]="{
            'blue-icon': vote === true,
            'black-icon': vote !== true
          }"
          (click)="setVote(true)"
        ></i>
        <i
          class="fas fa-thumbs-down flip-horizontal"
          style="margin-right: 8px"
          [ngClass]="{
            'red-icon': vote === false,
            'black-icon': vote !== false
          }"
          (click)="setVote(false)"
        ></i>
      </div>
    </div>

    <form (ngSubmit)="submitReview()">
      <label for="reviewText">Votre avis :</label>
      <textarea
        id="reviewText"
        name="reviewText"
        rows="4"
        cols="50"
        [(ngModel)]="reviewText"
        class="full-width-textarea"
      ></textarea>
      <button type="submit">Envoyer</button>
    </form>
  </div>
</div>
