<div class="memberupdate">
  <p>Modifier mon compte</p>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form">
    <input type="text" formControlName="username" placeholder="Pseudo" />
    <input type="text" formControlName="firstname" placeholder="Prénom" />
    <input type="text" formControlName="lastname" placeholder="Nom" />
    <input type="email" formControlName="email" placeholder="Email" />
    <input
      type="password"
      formControlName="currentPassword"
      placeholder="ancien mot de passe"
    />
    <input
      type="password"
      formControlName="newPassword"
      placeholder="nouveau mot de passe"
    />
    <button>Enrengistrer</button>
  </form>
</div>
