<div class="cardGroupe">
  <div class="memberInGroupe">
    <div class="inputNom">
      <p>
        Nom :
        <input type="text" [(ngModel)]="nom" placeholder="{{ groupe.name }}" />
      </p>
    </div>
    <div class="memberList">
      <ul>
        <li *ngFor="let member of member">
          {{ member.username }}
        </li>
      </ul>
    </div>
    <div>
      <label for="email">Inviter dans le groupe</label>
      <input type="email" name="email" id="email" [(ngModel)]="email" />
    </div>
  </div>
  <div class="button">
    <button id="modifier" (click)="modifier()">Modifier</button>
    <button>Quitter</button>
    <button id="envoyer" (click)="envoyerInvitation()">Envoyer</button>
  </div>
</div>
