<div class="card">
    <div class="restaurant-info">
        <h2>Restaurant <span>{{nameResto}}</span> proposé par <span>{{pseudo}}</span></h2>
        <p>Address: 123 Main St, City</p>
        <p>Catégorie: fast food</p>
        <p>Prix</p>

        <div class="thumbs-up-down">
            <p>{{ numberOfThumbsUp }}<i class="fas fa-thumbs-up" style="margin-left: 8px;"(click)="numberOfThumbsUp = numberOfThumbsUp + 1"></i></p> <!-- Icône "pouce en l'air" -->
            <p id="cadragePouceDown">
                <i class="fas fa-thumbs-down flip-horizontal" (click)="numberOfThumbsDown = numberOfThumbsDown + 1" style="margin-right: 8px;">
                </i>
                {{ numberOfThumbsDown }}
            </p> <!-- Icône "pouce en bas" -->
      </div>

        <div class="reviews">
            <div class="review" *ngFor="let unAvis of avis">
                <h3>Avis de {{ pseudo }}</h3>
                <p>{{ unAvis }}</p>
            </div>
        </div>
          
        </div>
    <div class="add-review-button">
        <button (click)="openModal()">Donne ton avis</button>
    </div>
    
    <app-modal (reviewSubmitted)="handleReviewSubmitted($event)"></app-modal>
</div>
