.center{
  color: white;
}

.fas{
  color: white;
}

/* Couleur du texte des liens de la barre de navigation */
.navbar-nav .nav-link{
    color: #B97375;
}
a {
    color: #B97375;
}

/* Couleur au survol des liens de la barre de navigation */
.navbar-nav:hover .nav-link:hover {
    color: white; /* Texte en blanc */
}
a:hover {
    color: white; /* Texte en blanc */
}


