.center{
  color: white;
}

.fas{
  color: white;
}

/* Couleur du texte des liens de la barre de navigation */
.navbar-nav .nav-link {
    color: white; /* Texte en blanc */
}

/* Couleur au survol des liens de la barre de navigation */
.navbar-nav .nav-link:hover {
    color: blue; /* Texte en bleu au survol */
}


