#creation {
    border: 2px solid black;
    padding: 20px; /* Add padding to create space between content and border */
    margin-left: 15rem;
    
}

app-fourchette-de-prix, app-groupe-list, app-categorie-list{
  display: inline-flex; 
 
}
.formulaire input{
    /* border: 1px solid blue; */
    /* box-shadow: 1px 1px 1px red; */
    width: 96%;
    margin-left: 15px;
}
 
#flexMoiCa {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: flex-start;
    /* position: relative; */
}

#blocGauche {
    /* border: 1px solid red; */
    margin: 0 12px 0 5rem;
    
   
}

.selection {
    /* border: 1px solid red */
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
}

.selection2{
    /* border:1px solid blue; */
    display: flex;
    justify-content: flex-end;
    
}

.button{
    text-align: center;
    margin-top: 15px;;
}


#modification {
    border: 2px solid black;
    padding: 20px; /* Add padding to create space between content and border */
    margin-left: 15rem;
   
    
}

.cadre{
    border: 2px solid black;
    margin-right: 28rem;
}

 .reviews {
            /* max-height: 200px; */
            overflow-y: scroll;
            border: 3px solid #64B6AC;
             box-shadow: 0 4px 8px 0 rgba(100,182,172);
            padding: 10px;
            font-size: small;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 1rem;
        }

 .review {
            margin-bottom: 15px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

#flexToutCa{
    display: flex;
}











