<app-headerhome></app-headerhome>

<div id="creation">
    <p> Créer un resto<p>
    <div id="flexMoiCa">
        <div id="blocGauche">
            <div class="selection">
                <app-categorie-list></app-categorie-list>
                <app-groupe-list></app-groupe-list>
            </div>
            <div>
                <form (ngSubmit)="create()" [formGroup]="createForm">
                    <div class="formulaire">
                        <input formControlName="nom" class="taille" />
                        <input formControlName="adresse" class="taille" />
                        <div *ngIf="createForm.get('nom')?.hasError('required')|| createForm.get('adresse')">
                        </div>
                    </div>
                </form>
                <div class="button">
                    <button >Créer</button>
                </div>
            </div>
        </div>
        <div id="blocDroite">
            <div class="selection2">
                <app-fourchette-de-prix></app-fourchette-de-prix>
            </div>
            <div id="avis">
                <p>Avis</p>
                <textarea id="avis" name="avis" rows="4" cols="50"></textarea>
            </div>
        </div>
    </div>
</div>

<div id="modification">
    
<div class="resto">
    <p>Modifier ou supprimer un resto: <app-restaurant-list></app-restaurant-list></p>
</div>


<div class="cadre">
    <div id="flexToutCa">
        
    <div id="left">
<app-restaurant-list></app-restaurant-list>
        <p>Adresse</p>
        <app-categorie-list></app-categorie-list>


    </div>

    <div id="right">
        <p>proposé par pseudo</p>
        <app-fourchette-de-prix></app-fourchette-de-prix>


    </div>
    

    
</div>
    <div class="reviews">
        <div class="review">
            <h3>Avis de {{pseudo}}</h3>
            <p>This is a great restaurant!</p>
        </div>
        <div class="review">
            <h3>Avis de {{pseudo}}</h3>
            <p>I love it. Highly recommended.</p>
        </div>
        <div class="review">
            <h3>Avis de {{pseudo}}</h3>
            <p>Not bad, but could be better.</p>
        </div>

</div>





</div>


