* {
  font-family: Arvo;
  color : #2c3d55
}

.center{
    display: flex;
    justify-content: center;
}

button {
    color: white;
    /* border: 1rem solid black; */
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #7B8CDE 0%, #b97375 84%);
    line-height: 42px;
    border: none;
}
button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
}